# Secrets
token.txt
minecraft_token.json
refresh_token.json
auth_cache.bin

# Data
scans/
.browser_profile/
blacklisted_words.txt
Locked_IGNs.txt
proxies.txt

# Python
__pycache__/
*.pyc
venv/
.env

# OS
.DS_Store
Thumbs.db
